<div class="container">
  <h2>Welcome to Busker's Beat!</h2>

  <div class="row">
    <div class="col-md-4">
      <h2>Sign In</h2>
      <p>Placeholder for log in form</p>
      <h2> or Sign Up</h2>
      <p>Placeholder for register form</p>
    </div>
    <div class="col-md-8">
      <h2>Featured Videos</h2>
      <p>A few of our favorite videos. Browse artists for more!</p>
      <h2>Featured Audio Tracks</h2>
      <p>Browse artists and Subscribe to our podcast for more!</p>
      <h2>Most Recent Posts</h2>
      <p>Read messages from buskers and join the conversation</p>
    </div>
  </div>

</div>
