<br />
<div class="jumbotron">
  <h1>Buskers Beat</h1>
  <p>Meet & support your local street musicians!</p>
</div>

<div class="row">
  <div class="col-md-6">
    <h2><%= link_to "Discussion Topics", topics_path %></h2>
    <p>Browse all messages from buskers and comments from the community</p>
  </div>
  <div class="col-md-6">
    <h2>Most Recent Posts</h2>
    <p>Browse the most recent messages from buskers and join the conversation</p>
  </div>
</div>

<div class="row">
  <div class="col-md-6">

    <h2>Featured Videos</h2>
    <p>Browse artists for more!</p>

    <iframe width="100%" height="345" src="https://www.youtube.com/embed/eLS43bcll2s" frameborder="0" allowfullscreen></iframe>

    <iframe width="100%" height="345" src="https://www.youtube.com/embed/E7x6XK_Qa_0" frameborder="0" allowfullscreen></iframe>

    <iframe width="100%" height="345" src="https://www.youtube.com/embed/2CDUDEKu6bo" frameborder="0" allowfullscreen></iframe>


  </div>

  <div class="col-md-6">

    <h2>Featured Audio Tracks</h2>
    <p>Browse artists for more!</p>

    <iframe width="100%" height="345" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/246856007&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

    <iframe width="100%" height="345" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/301478633&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>

    <iframe width="100%" height="345" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/36650065&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false&amp;visual=true"></iframe>
  </div>
</div>

<div class="row">
  <div class="col-md-6"
    <!-- Facebook 'Like' & 'Share' buttons -->
    <br />
    <div
      class="fb-like"
      data-share="true"
      data-width="450"
      data-show-faces="true">
    </div>
  </div>

  <div class="col-md-6">
    <br />
    <!-- Survey Monkey tests -->
    <!-- <p>Survey Monkey - Embedded format</p>
    <script>(function(t,e,c,n){var o,s,i;t.SMCX=t.SMCX||[],e.getElementById(n)||(o=e.getElementsByTagName(c),s=o[o.length-1],i=e.createElement(c),i.type="text/javascript",i.async=!0,i.id=n,i.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/hpPjty6exq7iU1Au7mj5iNmGZRpjGNwF_2Fcy8_2BzXHGNhFvQcUi4ZnJOVmLyv_2F8QPh.js"].join(""),s.parentNode.insertBefore(i,s))})(window,document,"script","smcx-sdk");</script><a style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com/mp/customer-satisfaction-surveys/> Create your own user feedback survey </a> -->

    <!-- <p>Survey Monkey - Popup survey</p>
    <script>(function(t,e,n,o){var s,c,m;t.SMCX=t.SMCX||[],e.getElementById(o)||(s=e.getElementsByTagName(n),c=s[s.length-1],m=e.createElement(n),m.type="text/javascript",m.async=!0,m.id=o,m.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/_2F2b7mqRPDOmzwvq0s4_2F79UUUO9sQRRRjRyw6oUCZAbElYEWnkClNtBEn3mmWongG.js"].join(""),c.parentNode.insertBefore(m,c))})(window,document,"script","smcx-sdk");</script> -->

    <!-- <p>Survey Monkey - Popup invitation</p>
    <script>(function(e,t,o,s){var c,n,d;e.SMCX=e.SMCX||[],t.getElementById(s)||(c=t.getElementsByTagName(o),n=c[c.length-1],d=t.createElement(o),d.type="text/javascript",d.async=!0,d.id=s,d.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/Ke5AcPuDo1RSFPJR1XMW6dRx8eIKZ_2BMYd_2FfQ2vD3Fq0IV54VBldF1eG_2BSuC9PGsb.js"].join(""),n.parentNode.insertBefore(d,n))})(window,document,"script","smcx-sdk");</script> -->

    <!-- <p> Survey Monkey - Web link</p>
    <a href="https://www.surveymonkey.com/r/HTQCH3P" target="_blank">We love feedback!  Take our survey now.</a> -->

      <!-- <iframe width="100%" height="166" scrolling="no" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/34019569&amp;color=0066cc"></iframe> -->

  </div>
</div>
