<div class="container">
  <h1>Welcome to Busker's Beat!</h1>

  <div class="row">
    <div class="col-md-4">
      <h2>Sign In</h2>
      <p>Placeholder for log in form</p>
      <h2> or Sign Up</h2>
      <p>Placeholder for register form</p>
    </div>
    <div class="col-md-8">
      <h2>Featured Videos</h2>
      <p>A few of our favorite videos. Browse artists for more!</p>
      <h2>Featured Audio Tracks</h2>
      <p>Browse artists and Subscribe to our podcast for more!</p>
      <h2>Most Recent Posts</h2>
      <p>Browse the most recent messages from buskers and join the conversation</p>
      <h2><%= link_to "All Posts", posts_path %></h2>
      <p>Browse all messages from buskers and comments from the community</p>
    </div>
  </div>

</div>
