<h1>Edit Post</h1>

<div class="row">

  <div class="col-md-4">
    <p>A few ideas of things to share...</p>
    <ul>
      <li>Behind the scenes stories</li>
      <li>Songs/artists that inspire you & why</li>
      <li>Memorable audience interactions</li>
      <li>Favorite gear that you use</li>
    </ul>
  </div>

  <div class="col-md-8">
    <%= render partial: 'form', locals: { topic: @post.topic, post: @post } %>
  </div>

</div>
