@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.user-name {
  margin-top: 11px;
}

.nav {
  margin-top: 5px;
}


#map {
  height: 400px;
  width: 100%;
}

#geocode {
  width: 100%;
}
