@import "bootstrap-sprockets";
@import "bootstrap";

.user-info {
  margin-top: 9px;
}

.user-name {
  margin-top: 11px;
}

.nav {
  margin-top: 5px;
}

.jumbotron {

  h1 {
     text-shadow: 5px 3px #d7c9aa;
     background-color: #efefef;
     padding: 10px;
  }
}


.mktg-points {
  height: 200px;
  border-style: solid;
  border-width: 15px;
  border-color: white;
  background-color: rgba(102, 102, 110, 0.95);

  h2 {
    background-color: #efefef;
    text-shadow: 2px 2px #d7c9aa;
  }

  p, ul {
     color: #efefef
  }

  li {
    display: block;
  }

  li:before {
    content: "\e002";
    font-family: 'Glyphicons Halflings';
    float: left;
    margin-top: 2px;
    margin-left: -24px;
    color: #d7c9aa;
  }

} //end of .mktg-points

.home-features {
  background-color: rgba(255, 255, 255, 0.85)
}

#map {
  height: 400px;
  width: 100%;
}

#geocode {
  width: 100%;
}


 // style="background-color: #efefef; text-shadow: 2px 2px #d7c9aa"
